* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(17, 52, 116);
  color: rgb(106, 160, 182);
}

.cont {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 100px auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.cont, .movie {
  text-align: center;
}

.cont .movie .title {
  font-size: 16px;
  font-weight: 600;
}

.cont .movie, .post {
  width: 100%;
  margin-bottom: 10px;
}

.npage {
  position: fixed;
  bottom: 0;
  background: black;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.npage, button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 200px;
  font-weight: 600;
  transition: .3s ease all;
}